.report { width: 75%; }
	.report tr {border: 2px solid #AEAEAE;}
	.parent_tr_in {
		background-color: #02B302;
	}
	.child_tr_in {
		background-color: #75FF75;
	}
	.parent_tr_out {
		background-color: #B30202;
		color: #FFF;
	}
	.child_tr_out {
		background-color: #FA7373;
		color: #FFF;
	}
	.parent_tr_in td, .parent_tr_out td {
		border-top: 2px solid #000;
	}
	.report td{
		width: 25%;
		max-width: 25%;
	}
